In [62]:
from src.analysis.basic_data_inspection import DataTypesInspectionStrategy

ModuleNotFoundError: No module named 'src'

In [60]:
# imports

import pandas as pd
import numpy as np
from data_ingester.data_ingester_factory import DataIngesterFactory

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',100)

ModuleNotFoundError: No module named 'data_ingester'

In [22]:
#extract data
df = DataIngesterFactory.get_data_ingester('.zip').ingest('../data/archive.zip')
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [1]:
DataTypesInspectionStrategy().inspect(df)

NameError: name 'DataTypesInspectionStrategy' is not defined

In [14]:
import os
os.path.dirname(os.path.dirname(__file__))

NameError: name '__file__' is not defined